*{
    scroll-behavior: smooth;
}
body{ 
    background-color: pink;
}
nav li{
    list-style: none;
    position: relative;
    justify-content: space-between;
}

nav ul li{ 
    display: inline-block;
    position:relative;
    justify-content: space-between;
    margin-left: auto; 
}

nav a :hover{
    background-color: bisque;
    box-shadow: 0 0 10px ;
}